<%# add navigation links to this file %>
<% if student_signed_in? %>
    <li><%= link_to '搜索职位', student_search_post_path %></li>
    <li><%= link_to '我的简历', student_resumes_path %></li>
    <li><%= link_to '个人信息', student_information_path %></li>
<% end %>

<% if student_signed_in? %>
    <li><%= link_to '登出', destroy_student_session_path, :method => 'delete' %></li>
<% else %>
    <li><%= link_to '登录', new_student_session_path %></li>
<% end %>
