<div class="panel panel-info company-panel-info">
  <div class="panel-heading">所有简历</div>

  <div class="panel-body">
  </div>

  <%= form_tag("/company/search_resume", method: "get") do %>
      <div class="row">
        <div class="col-lg-3">
          <strong class="search_label">学院：</strong>
          <%= select_tag "subject", options_from_collection_for_select(Subject.all, :id, :name, @subject),
                         :class => 'form-control', :include_blank => true %>
        </div>

        <div class="col-lg-3">
          <strong class="search_label">专业：</strong>
          <%= select_tag "major", options_from_collection_for_select(Major.all, :id, :name, @major),
                         :class => 'form-control', :include_blank => true %>
        </div>

        <div class="col-lg-3">
          <strong class="search_label">关键词：</strong>
          <%= search_field_tag "key_words", @key_words, {class: 'form-control'} %>
        </div>

        <div class="col-lg-1">
          <span style="display:block; visibility:hidden;">search</span>
          <button class="btn btn-default form-control">搜索</button>
        </div>
      </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>编号</th>
        <th>作者</th>
        <th>标题</th>
        <th>日期</th>
      </tr>
      </thead>

      <tbody>

      <% index = 0 %>
      <% @resumes.each do |resume| %>
          <tr>
            <td><%= index += 1 %></td>
            <td><%= resume.student.name %></td>
            <td>
              <%= link_to resume.title, company_browse_resume_path(resume) %>
            </td>
            <td><%= resume.updated_at %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>

