<div class="panel panel-info company-panel-info">
  <div class="panel-heading">职位列表</div>

  <div class="panel-body">
    <%= link_to "创建新职位", new_company_post_path %>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>编号</th>
        <th>标题</th>
        <th>创建时间</th>
        <th>修改时间</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>

      <% index = 0 %>
      <% @posts.each do |post| %>
          <tr>
            <td><%= index += 1 %></td>
            <td>
              <%= link_to post.title, company_post_path(post) %>
            </td>
            <td><%= post.created_at %></td>
            <td><%= post.updated_at %></td>
            <td>
              <%= link_to "编辑", edit_company_post_path(post) %>
              <%= link_to "删除", company_post_path(post),
                          method: :delete, data: {confirm: '确定删除吗？'} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>

