<!-- header wrap -->
<div id="headerwrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-12">
        <h2><%= @resume.student.name %></h2>
        <h5><%= @resume.student.age %>岁 | <%= @resume.title %></h5>
        <br/>
        <h5><%= @resume.updated_at %></h5>
      </div>
    </div>
  </div>
</div>

<!--  introduce section-->
<div id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <h5>关于</h5>
      </div>

      <div class="col-lg-6"><p><%= @resume.introduce %></p></div>
    </div>
  </div>
</div>

<!--  education section-->
<% if @resume.educations.length > 0 %>
    <div class="container desc">
      <%= render partial: 'resumes/education', collection: @resume.educations %>
      <hr/>
    </div>
<% end %>

<!--  work experience section-->
<% if @resume.work_experiences.length > 0 %>
    <div class="container desc">
      <%= render partial: 'resumes/work_experience', collection: @resume.work_experiences %>
      <hr/>
    </div>
<% end %>

<!--  glory section-->
<% if @resume.glories.length > 0 %>
    <div class="container desc">
      <%= render partial: 'resumes/glory', collection: @resume.glories %>

      <hr/>
    </div>
<% end %>

<!--  skill section-->
<% if @resume.skills.length > 0 %>
    <div class="container desc">
      <%= render partial: 'resumes/skill', collection: @resume.skills %>

      <hr/>
    </div>
<% end %>

<!--  sample work section-->
<% if @resume.sample_works.length > 0 %>
    <div class="container desc">
      <%= render partial: 'resumes/sample_work', collection: @resume.sample_works %>
      <hr/>
    </div>
<% end %>

<!--  interest section-->
<% if @resume.interests.length > 0 %>
    <div class="container desc">
      <%= render partial: 'resumes/interest', collection: @resume.interests %>
    </div>
<% end %>

<div id="footwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1"><h5>联系方式</h5></div>
      <div class="col-lg-6">
        <p>
          <t>邮箱</t>
          <br/>
          <%= @student.email %>
        </p>

        <p>
          <t>地址</t>
          <br/>
          <%= @student.address %>
        </p>

        <p>
          <t>电话</t>
          <br/>
          <%= @student.telephone %>
        </p>
      </div>
      <div class="col-lg-3">
        <p>
          <sm>社交</sm>
        </p>

        <p>QQ: <%= @student.tencent_qq %></p>
      </div>
    </div>
  </div>
</div>

