<div class="col-lg-6">
  <p>
    <t><%= work_experience.appointment %></t>
    <br/>
    <%= work_experience.company %>
  </p>

  <p>
    <more><%= work_experience.description %></more>
  </p>
</div>

<div class="col-lg-3">
  <p>
    <sm><%= work_experience.start_date %> ~ <%= work_experience.end_date %></sm>
    <br/>
  </p>
</div>