<div class="form-group nested-work-experience-field">
  <div class="col-sm-1 control-label"></div>
  <div class="col-sm-8 resume-group">
    <div class="col-sm-2">
      <%= f.text_field :start_date, class: "form-control  datepicker",
                       :placeholder => "起始日期" %>
    </div>

    <div class="col-sm-2">
      <%= f.text_field :end_date, class: "form-control  datepicker",
                       :placeholder => "结束日期" %>
    </div>

    <div class="col-sm-2">
      <%= f.text_field :company_name, class: "form-control",
                       :placeholder => "公司名" %>
    </div>

    <div class="col-sm-2">
      <%= f.text_field :appointment, class: "form-control",
                       :placeholder => "职位" %>
    </div>

    <div class="col-sm-2">
      <%= f.text_field :duty, class: "form-control",
                       :placeholder => "职责" %>
    </div>

    <div class="col-sm-2">
      <%= f.text_field :description, class: "form-control",
                       :placeholder => "职责描述" %>
    </div>

  </div>

  <div class="col-sm-1">
    <% if f.object.new_record? %>
        <button type="button" class='destroy-nested-form btn-danger form-control destroy-nested-work-experience-field'>删除</button>
    <% else %>
        <%= link_to '删除', student_resume_work_experience_path(@resume, f.object), :remote => true, :method => :delete,
                    class: 'destroy-nested-form btn-danger form-control destroy-nested-work-experience-field' %>
    <% end %>
  </div>
</div>